[ocean]

eos_type = teos-10

[single_column]

# Run duration in days
run_duration = 10.

[single_column_forcing]

# Net latent heat flux applied when bulk forcing is used. Positive values indicate a net
# input of heat to ocean [W/m^2]
latent_heat_flux = -120.0

# Net sensible heat flux applied when bulk forcing is used. Positive values indicate a
# net input of heat to ocean [W/m^2]
sensible_heat_flux = -25.0

# Net solar shortwave heat flux applied when bulk forcing is used. Positive values
# indicate a net input of heat to ocean [W/m^2]
shortwave_heat_flux = 220.0

# Net upward longwave heat flux applied when bulk forcing is used. Positive values
# indicate a net output of heat from ocean [W/m^2]
longwave_heat_flux_up = 390.0

# Net downward longwave heat flux applied when bulk forcing is used. Positive values
# indicate a net input of heat to ocean [W/m^2]
longwave_heat_flux_down = 340.0

# Net surface evaporation when bulk forcing is used. Positive values indicate a net
# input of water to ocean [kg m^-2 s^-1]
evaporation_flux = -4.8e-5

# Net surface snow flux when bulk forcing is used. Positive values indicate a net input
# of water to ocean [kg m^-2 s^-1]
snow_flux = 1.2e-6

# Net surface rain flux when bulk forcing is used. Positive values indicate a net input
# of water to ocean [kg m^-2 s^-1]
rain_flux = 3.5e-5

# Net surface river runoff flux when bulk forcing is used. Positive values indicate a net
# flux of water to ocean [kg m^-2 s^-1]
river_runoff_flux = 1.2e-6

# Net surface ice runoff flux when bulk forcing is used. Positive values indicate a net
# flux of water to ocean [kg m^-2 s^-1]
ice_runoff_flux = 8.5e-8

# Net freshwater flux from sea ice when bulk forcing is used. Positive values indicate a net
# flux of water to ocean [kg m^-2 s^-1]
sea_ice_fresh_water_flux = 2.3e-6

# Net heat flux from sea ice when bulk forcing is used. Positive values indicate a net
# input of heat to ocean [W/m^2]
sea_ice_heat_flux = -15.0

# Net salinity flux from sea ice when bulk forcing is used. Positive values indicate a net
# input of salt to ocean [kg m^-2 s^-1]
sea_ice_salinity_flux = 1.8e-7
