[submodule "e3sm_submodules/E3SM-Project"]
	path = e3sm_submodules/E3SM-Project
	url = git@github.com:E3SM-Project/E3SM.git
[submodule "e3sm_submodules/MALI-Dev"]
	path = e3sm_submodules/MALI-Dev
	url = git@github.com:MALI-Dev/E3SM.git
[submodule "e3sm_submodules/Omega"]
	path = e3sm_submodules/Omega
	url = git@github.com:E3SM-Project/Omega.git
[submodule "jigsaw-python"]
	path = jigsaw-python
	url = git@github.com:dengwirda/jigsaw-python.git
