{%- set compiler = "gcc@13.3.0" %}
{%- set mpi = "openmpi@4.1.6" %}
spack:
  specs:
  - {{ compiler }}
  - {{ mpi }}%{{ compiler }}
{%- for spec in specs %}
  - "{{ spec }}%{{ compiler }}"
{%- endfor %}
  concretizer:
    unify: true
  packages:
    all:
      compiler: [{{ compiler }}]
      providers:
        mpi: [{{ mpi }}%{{ compiler }}]
    gcc:
      externals:
      - spec: {{ compiler }}
        prefix: /usr
      buildable: false
    openmpi:
      externals:
      - spec: {{ mpi }}%{{ compiler }}
        prefix: /usr
      buildable: false
  config:
    install_missing_compilers: false
  compilers:
  - compiler:
      spec: {{ compiler }}
      paths:
        cc: /usr/bin/gcc
        cxx: /usr/bin/g++
        f77: /usr/bin/gfortran
        fc: /usr/bin/gfortran
      flags: {}
      operating_system: ubuntu24.04
      target: x86_64
      modules: []
      environment: {}
      extra_rpaths: []
