# Options related to generating a reusable WOA23 hydrography product
[woa23]

# the minimum weight sum needed to mark a new cell valid in horizontal
# extrapolation
extrap_threshold = 0.01

# target depths for horizontal plots of the extrapolated product (m)
horizontal_plot_depths = 0.0, 200.0, 400.0, 600.0, 800.0

# maximum depth to include in section plots (m)
section_max_depth = 2000.0

# endpoints of a transect through Filchner Trough and into the Filchner
# ice-shelf cavity
filchner_start_lon = -46.0
filchner_start_lat = -71.5
filchner_end_lon = -38.5
filchner_end_lat = -81.2

# endpoints of a transect through the Ross Ice Shelf cavity
ross_start_lon = 176.0
ross_start_lat = -72.0
ross_end_lon = -171.0
ross_end_lat = -84.0


[woa23_viz_temperature]
colormap_name = cmo.thermal
norm_type = linear
norm_args = {'vmin': -2.5, 'vmax': 30.0}


[woa23_viz_salinity]
colormap_name = cmo.haline
norm_type = linear
norm_args = {'vmin': 32.0, 'vmax': 37.0}


[woa23_viz_section_temperature]
colormap_name = cmo.thermal
norm_type = linear
norm_args = {'vmin': -2.5, 'vmax': 1.5}
colorbar_ticks = -2.5, -2.0, -1.5, -1.0, -0.5, 0.0, 0.5, 1.0, 1.5


[woa23_viz_section_salinity]
colormap_name = cmo.haline
norm_type = linear
norm_args = {'vmin': 34.0, 'vmax': 35.0}
colorbar_ticks = 34.0, 34.2, 34.4, 34.6, 34.8, 35.0
