# Options related to the vertical grid
[vertical_grid]

# the type of vertical grid
grid_type = uniform

# Number of vertical levels
vert_levels = 3
#vert_levels = 1

# Depth of the bottom of the ocean
bottom_depth = 300.0
#bottom_depth = 100.0

# The type of vertical coordinate (e.g. z-level, z-star)
coord_type = z-level

# Whether to use "partial" or "full", or "None" to not alter the topography
partial_cell_type = None

# The minimum fraction of a layer for partial cells
min_pc_fraction = 0.1


# config options for spherical convergence tests
[spherical_convergence]

# Evaluation time for convergence analysis (in days)
convergence_eval_time = ${sphere_transport:vel_pd}


# config options for spherical convergence tests
[spherical_convergence_forward]

# time integrator: {'split_explicit', 'RK4'}
time_integrator = RK4

# RK4 time step per resolution (s/km), since dt is proportional to resolution
rk4_dt_per_km = 8.0

# Run duration in days
run_duration = ${sphere_transport:vel_pd}

# Output interval in days
output_interval = ${sphere_transport:vel_pd}


# options for all sphere transport test cases
[sphere_transport]

# temperature
temperature = 15.

# salinity
salinity = 35.

# time (days) for bell to transit equator once
vel_pd = 12.0


# options for visualization for the sphere transport test case
[sphere_transport_viz]

# visualization latitude and longitude resolution
dlon = 0.5
dlat = 0.5

# remapping method ('bilinear', 'neareststod', 'conserve')
remap_method = conserve

# colormap options
# colormap
colormap_name = viridis

# the type of norm used in the colormap
norm_type = linear

# A dictionary with keywords for the norm
norm_args = {'vmin': 0., 'vmax': 1.}

# We could provide colorbar tick marks but we'll leave the defaults
# colorbar_ticks = np.linspace(0., 1., 9)
