# Overrides for the baroclinic channel tasks that use the RK4 time stepper
[baroclinic_channel]

# Time integration scheme
time_integrator = RK4

# time step per resolution (s/km), shorter since RK4 is unsplit
dt_per_km = 5.0
