# stable_temperature_strong.cfg
# evap_strong.cfg
# wind_stress.cfg

[ocean]

# Tolerance for salt conservation, normalized by total salt
salt_conservation_tolerance = 2e-14

[single_column]

# Run duration in days
run_duration = 10.
