# config options for the ISOMIP+ inception forward run
[isomip_plus_forward]

# Run duration in hours, over which the ice grows from nothing
run_duration = 96.0

# Output interval in hours
output_interval = 6.0
