# Options related to the vertical grid
[vertical_grid]

# the type of vertical grid
grid_type = uniform

# Number of vertical levels
vert_levels = 36

# Depth of the bottom of the ocean
bottom_depth = 720.0

# The type of vertical coordinate (e.g. z-level, z-star)
coord_type = z-star

# Whether to use "partial" or "full", or "None" to not alter the topography
partial_cell_type = None

# The minimum fraction of a layer for partial cells
min_pc_fraction = 0.1

# The minimum number of vertical levels in a column
min_vert_levels = 3

# The minimum layer thickness in m
min_layer_thickness = 0.0


# Options related to the ocean component
[ocean]

# the linear equation of state prescribed for ISOMIP+ COM experiments, with
# alpha and beta in kg m^-3 C^-1 and kg m^-3 PSU^-1
eos_type = linear
eos_linear_alpha = 0.03836
eos_linear_beta = 0.8059
eos_linear_rhoref = 1027.51
eos_linear_Tref = -1.0
eos_linear_Sref = 34.2


# config options for Coriolis
[coriolis]

# type of Coriolis: zero, constant, beta_plane, spherical, or rotated_sphere
type = constant

# the constant Coriolis parameter (1/s), an f-plane at 75 S
constant_f = -1.409e-4
