# Base
python>=3.10,<3.15
cartopy
cartopy_offlinedata
cmocean
esmf={{ esmf }}={{ mpi_prefix }}_*
ffmpeg
geometric_features={{ geometric_features }}
gsw
importlib_resources
ipython
jupyter
lxml
{%- if include_mache %}
mache={{ mache }}
{%- endif %}
matplotlib-base>=3.9.0
metis={{ metis }}
moab={{ moab }}=*_tempest_*
mosaic>=1.2.1,<2.0.0
mpas_tools={{ mpas_tools }}
nco
netcdf4=*=nompi_*
numpy>=2.0,<3.0
{%- if supports_otps %}
otps={{ otps }}
{%- endif %}
progressbar2
pyamg>=4.2.2
pyproj
pyremap>=2.0.0,<3.0.0
ruamel.yaml
requests
ruamel.yaml
scipy>=1.8.0
shapely>=2.0,<3.0
tranche>=0.3.0
xarray

# Static typing
types-requests

# Linting and testing
pip
pytest
flynt
mypy
pre-commit
ruff

# Development
{%- if mpi != "nompi" %}
c-compiler
cmake
cxx-compiler
fortran-compiler
libnetcdf={{ netcdf_c }}={{ mpi_prefix }}_*
netcdf-fortran={{ netcdf_fortran }}={{ mpi_prefix }}_*
libpnetcdf={{ pnetcdf }}={{ mpi_prefix }}_*
parallelio={{ parallelio }}={{ mpi_prefix }}_*
m4
make
{{ mpi }}
{{ openmp }}
{%- endif %}

# CF-compliance
cfchecker
udunits2

# Documentation
sphinx >=7.0.0
sphinx_rtd_theme
myst-parser

# Visualization
ncview
