# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>

# Base
python>=3.9,<3.12
antimeridian
cartopy
cartopy_offlinedata
cmocean
esmf={{ esmf }}={{ mpi_prefix }}_*
ffmpeg
geometric_features={{ geometric_features }}
geoviews
git
holoviews
hvplot
importlib_resources
ipython
jupyter
lxml
{% if include_mache %}
mache={{ mache }}
{% endif %}
matplotlib-base >=3.6.0,!=3.7.2
metis={{ metis }}
mpas_tools={{ mpas_tools }}
nco
netcdf4=*=nompi_*
numpy
{% if supports_otps %}
otps={{ otps }}
{% endif %}
progressbar2
pyamg>=4.2.2
pyproj
pyremap>=1.2.0,<2.0.0
ruamel.yaml
requests
scipy>=1.8.0
shapely>=2.0,<3.0
spatialpandas
uxarray
xarray

# Static typing
types-requests

# Linting and testing
pip
pytest
isort
flynt
flake8
mypy
pre-commit

# Development
{% if mpi != "nompi" %}
c-compiler
cmake
cxx-compiler
fortran-compiler
libnetcdf={{ netcdf_c }}={{ mpi_prefix }}_*
netcdf-fortran={{ netcdf_fortran }}={{ mpi_prefix }}_*
libpnetcdf={{ pnetcdf }}={{ mpi_prefix }}_*
parallelio={{ parallelio }}={{ mpi_prefix }}_*
m4
make
{{ mpi }}
{{ openmp }}
{% endif %}

# CF-compliance
cfchecker
udunits2

# Documentation
sphinx
sphinx_rtd_theme
myst-parser
sphinx-multiversion
rst-to-myst

# Visualization
ncview
