# pins for the pixi environment
[pixi]
bootstrap_python = 3.14
python = 3.14
geometric_features = 1.6.1
mache = 3.0.4
mpas_tools = 1.4.0
otps = 2021.10
parallelio = 2.6.9

# pins for the spack environment
[spack]
# cmake newer than 3.23.0 needed for Trilinos
cmake = 3.23.0:
hdf5 = 1.14.6
parmetis = 4.0.3
scorpio = 1.8.2

# pins for both pixi and spack environments
[all]
esmf = 8.9.1
metis = 5.1.0
moab = 5.6.0
netcdf_c = 4.10.0
netcdf_fortran = 4.6.2
pnetcdf = 1.14.1
