# Options related to the freezing temperature below ice shelves
[ice_shelf_freeze]

# MPAS-Ocean's coefficients, matching its defaults for
# config_land_ice_cavity_freezing_temperature_coeff_*.  Omega uses TEOS-10 for
# the freezing temperature, which is not yet supported.

# The freezing temperature (C) at zero pressure and salinity
mpas_ocean_coeff_0 = 6.22e-2

# The coefficient (1e3 C) for the term proportional to salinity
mpas_ocean_coeff_S = -5.63e-2

# The coefficient (C Pa^-1) for the term proportional to the pressure
mpas_ocean_coeff_p = -7.43e-8

# The coefficient (1e3 C Pa^-1) for the term proportional to salinity times
# pressure
mpas_ocean_coeff_pS = -1.74e-10
