# The paths section describes paths for data and environments
[paths]

# A shared root directory where polaris data can be found
database_root = /lus/flare/projects/E3SM_Dec/polaris

# the path where deployed polaris environments are located
polaris_envs = /lus/flare/projects/E3SM_Dec/soft/polaris/aurora/base


# Options related to deploying polaris environments on supported machines
[deploy]

# the unix group for permissions for deployed polaris environments
group = E3SMinput

# whether deployed environments should be readable outside the shared group
world_readable = true

# the compiler set to use for system libraries and MPAS builds
compiler = intel

# the compiler to use to build software (e.g. ESMF and MOAB) with spack
software_compiler = intel

# the system MPI library to use for intel compiler
mpi_intel = mpich

# the system MPI library to use for intelgpu compiler
mpi_intelgpu = mpich

# the base path for spack environments used by polaris
spack = /lus/flare/projects/E3SM_Dec/soft/polaris/aurora/spack

# whether to use the same modules for hdf5, netcdf-c, netcdf-fortran and
# pnetcdf as E3SM (spack modules are used otherwise)
use_e3sm_hdf5_netcdf = True
