# The paths section describes paths for data and environments
[paths]

# A shared root directory where polaris data can be found
database_root = /lcrc/group/e3sm/public_html/polaris

# the path where deployed polaris environments are located
polaris_envs = /lcrc/soft/climate/polaris/chrysalis/base


# Options related to deploying polaris environments on supported machines
[deploy]

# the unix group for permissions for deployed polaris environments
group = cels

# whether deployed environments should be readable outside the shared group
world_readable = true

# the compiler set to use for system libraries and MPAS builds
compiler = intel

# the compiler to use to build software (e.g. ESMF and MOAB) with spack
software_compiler = intel

# the system MPI library to use for intel compiler
mpi_intel = openmpi

# the system MPI library to use for gnu compiler
mpi_gnu = openmpi

# the system MPI library to use for oneapi-ifx compiler
mpi_oneapi_ifx = openmpi

# the base path for spack environments used by polaris
spack = /lcrc/soft/climate/polaris/chrysalis/spack

# whether to use the same modules for hdf5, netcdf-c, netcdf-fortran and
# pnetcdf as E3SM (spack modules are used otherwise)
use_e3sm_hdf5_netcdf = True


# Config options related to building components
[build]

# make targets for different compilers and MPI libraries
intel_openmpi_target = ifort
gnu_openmpi_target = gfortran
