[ocean]

# Equation of state type, defaults to mpas-ocean default
eos_type = constant

# Equation of state constant term, defaults to PCD seawater_density_reference
eos_constant_rhoref = {{ eos_constant_rhoref }}

# Equation of state -drho/dT, defaults to mpas-ocean default
eos_linear_alpha = 0.

# Equation of state drho/dS, defaults to mpas-ocean default
eos_linear_beta = 0.

# Equation of state constant term, designed to match mpas-ocean's default reference density
eos_linear_rhoref = ${ocean:eos_constant_rhoref}

# Equation of state reference temperature, defaults to omega default
eos_linear_Tref = 0.

# Equation of state reference salinity, defaults to omega default
eos_linear_Sref = 0.
