# options for tracer visualization for the sphere transport test case
[realistic_global_viz_temperature]

# colormap options
# colormap
colormap_name = cmo.thermal

# the type of norm used in the colormap
norm_type = linear

# A dictionary with keywords for the norm
norm_args = {'vmin': -2., 'vmax': 35.}


# options for tracer visualization for the sphere transport test case
[realistic_global_viz_salinity]

# colormap options
# colormap
colormap_name = cmo.haline

# the type of norm used in the colormap
norm_type = linear

# A dictionary with keywords for the norm
norm_args = {'vmin': 0., 'vmax': 37.}


# options for thickness visualization for the sphere transport test case
[realistic_global_viz_layerThickness]

# colormap options
# colormap
colormap_name = viridis

# the type of norm used in the colormap
norm_type = linear

# A dictionary with keywords for the norm
norm_args = {}


# options for velocity visualization for the sphere transport test case
[realistic_global_viz_windStress]

# colormap options
# colormap
colormap_name = cmo.balance

# the type of norm used in the colormap
norm_type = linear

# A dictionary with keywords for the norm
norm_args = {'vmin': -0.2, 'vmax': 0.2}

# options for velocity visualization for the sphere transport test case
[realistic_global_viz_kineticEnergyCell]

# colormap options
# colormap
colormap_name = cmo.speed

# the type of norm used in the colormap
norm_type = linear

# A dictionary with keywords for the norm
norm_args = {'vmin': 0., 'vmax': 1.}
