# Options related to staging the component input files for an E3SM run
[component_inputs]

# The ocean model the staged files are for: mpas-ocean or omega
ocean_model = mpas-ocean

# The sea-ice model the staged files are for: mpas-seaice or none
seaice_model = mpas-seaice
