# Nightly cron settings for chrysalis

[cron]

# the tasks to run each night, in order
tasks = omega_cdash, polaris_cdash

# how many days of logs to keep
keep_logs_days = 30


# each compiler to test, with the Omega architecture (OMEGA_ARCH) to build.
# The compilers must be ones docs/developers_guide/supported_machines.yaml
# lists for Omega on this machine.
[compilers]

gnu = SERIAL
intel = SERIAL
