# Temperature and salinity settings for a neutral single-column profile
[single_column]

# Nothing is specified because the defaults in single_column.cfg are zeros
# However, this file is helpful for symmetry with the other stratification options
