
# config options for single column testcases
[single_column]

# temperature gradient below the mixed layer [C/m], positive is decreasing downward
temperature_gradient_interior = 0.05

# Depth of the temperature mixed layer [m]
mixed_layer_depth_temperature =  0.0

# The salinity below the mixed layer [PSU/m], positive is decreasing downward
salinity_difference_across_mixed_layer = 0.0

# Depth of the salinity mixed layer [m]
mixed_layer_depth_salinity =  0.0

# Salinity gradient below the mixed layer [PSU/m], positive is decreasing downward
salinity_gradient_interior = 0.0
