
# config options for single column testcases
[single_column]

# Temperature difference across mixed layer [C]
temperature_difference_across_mixed_layer = 0.0

# Salinity gradient below the mixed layer [PSU/m], positive is decreasing downward
salinity_gradient_interior = -0.01

# Depth of the salinity mixed layer [m]
mixed_layer_depth_salinity =  25.0

# Depth of the temperature mixed layer [m]
mixed_layer_depth_temperature =  25.0

# The salinity difference across the mixed layer [PSU]
salinity_difference_across_mixed_layer = -1.0
