# Config options related to creating a job script
[job]

# wall-clock time
wall_time = 00:30:00

# use this machine's debug target, whether it provides one as a partition, a
# QOS or a queue
scheduler_target = debug
