# This config file has default config options for the seaice component

# Options related the sea-ice component
[seaice]

# Which model is used.  MPAS-Seaice is currently the only option.
model = mpas-seaice
