# Options related to the vertical grid
[vertical_grid]

# the type of vertical grid
grid_type = uniform

# Number of vertical levels
vert_levels = 10

# Whether to use "partial" or "full", or "None" to not alter the topography
partial_cell_type = None

# The minimum fraction of a layer for partial cells
min_pc_fraction = 0.1

# The minimum number of vertical levels for multi-layer cases
min_vert_levels = 3

# The minimum layer thickness
min_layer_thickness = ${drying_slope:thin_film_thickness}

# config options for drying slope test cases
[drying_slope]

# time integration scheme
time_integrator = RK4

# time step per resolution (s/km), since dt is proportional to resolution
rk4_dt_per_km = 30

split_dt_per_km = 30

# barotropic time step per resolution (s/km), since btr_dt is proportional to
# resolution
btr_dt_per_km = 1.5

# Bottom depth at the left side of the domain
left_bottom_depth = 0.

# Plug width as a fraction of the domain
plug_width_frac = 1.0

# Plug temperature
plug_temperature = 20.0

# Background temperature
background_temperature = 20.0

# Background salinity
background_salinity = 35.0

# Coriolis parameter
coriolis_parameter = 0.0

# Number of tasks at 1km resolution
ntasks_baseline = 4

# Minimum number of tasks
min_tasks = 1

[drying_slope_baroclinic]

# salinity at the right side of the domain
right_salinity = 35.0

# salinity at the left side of the domain
left_salinity = 1.0

# manning coefficient used in mannings bottom drag type
manning_coefficient = 5.0e-2

# config options for visualizing drying slope ouptut
[drying_slope_convergence]

resolutions = 0.25, 0.5, 1, 2

[convergence]

# Evaluation time for convergence analysis (in hours)
convergence_eval_time = 12.0

# Convergence threshold below which a test fails
convergence_thresh = 1.0

# Type of error to compute
error_type = l2

# config options for convergence forward steps
[convergence_forward]

# time integrator: {'split_explicit', 'RK4'}
time_integrator = ${drying_slope:time_integrator}

# RK4 time step per resolution (s/km), since dt is proportional to resolution
rk4_dt_per_km = ${drying_slope:rk4_dt_per_km}

# split time step per resolution (s/km), since dt is proportional to resolution
split_dt_per_km = ${drying_slope:split_dt_per_km}

# the barotropic time step (s/km) for simulations using split time stepping,
# since btr_dt is proportional to resolution
btr_dt_per_km = ${drying_slope:btr_dt_per_km}

# Run duration in hours
run_duration = ${convergence:convergence_eval_time}

# Output interval in hours
output_interval = ${run_duration}
# config options for visualizing drying slope ouptut
[drying_slope_viz]

# whether to generate movie
generate_movie = False

# frames per second for movies
frames_per_second = 30

# movie format
movie_format = mp4
