# Overrides for the seamount task tree that uses the sigma
# (terrain-following) vertical coordinate

# Options related to the vertical grid
[vertical_grid]

# The type of vertical coordinate
coord_type = sigma
