# Options related to the vertical grid
[vertical_grid]

# the type of vertical grid
grid_type = uniform

# Number of vertical levels
vert_levels = 1

# Depth of the bottom of the ocean
bottom_depth = 2000.0

# The type of vertical coordinate (e.g. z-level, z-star)
coord_type = z-star

# config options for convergence tests
[convergence]

# Evaluation time for convergence analysis (in hours)
convergence_eval_time = 120.0

# Type of error to compute
error_type = l2


# config options for convergence forward steps
[convergence_forward]

# time integrator: {'split_explicit', 'RK4'}
time_integrator = RK4

# RK4 time step per resolution (s/km), since dt is proportional to resolution
rk4_dt_per_km = 2.0


# options for geostrophic convergence test case
[geostrophic]

# period of the velocity in days
vel_period = 12.0

# reference water column thickness (m^2/s^2)
gh_0 = 2.94e4

# angle of velocity field variation
alpha = 0.0

# the constant temperature of the domain
temperature = 15.0

# the constant salinity of the domain
salinity = 35.0

# convergence threshold below which the test fails
convergence_thresh_h = 0.4
convergence_thresh_normalVelocity = 1.3


# options for plotting water-column thickness from the geostrophic test
[geostrophic_viz_h]

# colormap options
# colormap
colormap_name = cmo.deep

# the type of norm used in the colormap
norm_type = linear

# A dictionary with keywords for the norm
norm_args = {'vmin': 1000.0, 'vmax': 3000.0}

# colorbar label
label = water-column thickness (m)

# options for plotting velocity from the geostrophic test
[geostrophic_viz_vel]

# colormap options
# colormap
colormap_name = cmo.delta

# the type of norm used in the colormap
norm_type = linear

# A dictionary with keywords for the norm
norm_args = {'vmin': -40.0, 'vmax': 40.0}

# colorbar label
label = velocity (m/s)

# options for plotting water-column thickness from the geostrophic test
[geostrophic_viz_diff_h]

# colormap options
# colormap
colormap_name = cmo.balance

# the type of norm used in the colormap
norm_type = linear

# A dictionary with keywords for the norm
norm_args = {'vmin': -10.0, 'vmax': 10.0}

# colorbar label
label = water-column thickness (m)

# options for plotting velocity from the geostrophic test
[geostrophic_viz_diff_vel]

# colormap options
# colormap
colormap_name = cmo.balance

# the type of norm used in the colormap
norm_type = linear

# A dictionary with keywords for the norm
norm_args = {'vmin': -0.3, 'vmax': 0.3}

# colorbar label
label = velocity (m/s)
