name: Publish Docs

on:
  push:
    branches: [main]

  release:
    types: [published]

  workflow_dispatch:

env:
  PYTHON_VERSION: "3.14"

jobs:
  publish-docs:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Cache Conda
        uses: actions/cache@v4
        env:
          # Increase this value to reset cache if deploy/conda-dev-spec.template has not changed in the workflow
          CACHE_NUMBER: 0
        with:
          path: ~/conda_pkgs_dir
          key: ${{ runner.os }}-conda-${{ env.CACHE_NUMBER }}-${{
            hashFiles('configure_polaris_envs.py,deploy/*') }}

      - if: ${{ steps.skip_check.outputs.should_skip != 'true' }}
        name: Set up Conda Environment
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-name: polaris_test
          init-shell: bash
          condarc: |
            channel_priority: strict
            channels:
                - conda-forge
                - e3sm/label/polaris
          create-args: >-
            python=${{ env.PYTHON_VERSION }}

      - if: ${{ steps.skip_check.outputs.should_skip != 'true' }}
        name: Install polaris
        run: |
          git config --global url."https://github.com/".insteadOf "git@github.com:"
          ./configure_polaris_envs.py \
            --conda_env_only \
            --env_name polaris_test \
            --verbose \
            --python=${{ env.PYTHON_VERSION }}
          source load_polaris_test.sh

      - name: Build Sphinx Docs
        run: |
          source load_polaris_test.sh
          cd docs
          DOCS_VERSION=${{ github.ref_name }} make versioned-html
      - name: Copy Docs and Commit
        run: |
          source load_polaris_test.sh
          cd docs
          # gh-pages branch must already exist
          git clone https://github.com/E3SM-Project/polaris.git --branch gh-pages --single-branch gh-pages

          # Only replace docs in a directory with the destination branch name with latest changes. Docs for
          # releases should be untouched.
          rm -rf gh-pages/${{ github.ref_name }}

          # don't clobber existing release versions (in case we retroactively fixed them)
          cp -r _build/html/${{ github.ref_name }} gh-pages/

          mkdir -p gh-pages/shared
          cp shared/version-switcher.js gh-pages/shared/version-switcher.js

          # Update the list of versions with all versions in the gh-pages directory.
          python generate_versions_json.py

          # Make sure we're in the gh-pages directory.
          cd gh-pages
          # Create `.nojekyll` (if it doesn't already exist) for proper GH Pages configuration.
          touch .nojekyll
          # Add `index.html` to point to the `main` branch automatically.
          printf '<meta http-equiv="refresh" content="0; url=./main/index.html" />' > index.html
          # Configure git using GitHub Actions credentials.
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          # The second command will fail if no changes were present, so we ignore it
          git add .
          git commit -m "Update documentation" -a || true
      - name: Push Changes
        uses: ad-m/github-push-action@master
        with:
          branch: gh-pages
          directory: docs/gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          force: true
